
.margin-top-4 {
  margin-top: $spacing-unit  * 4;
}

// Default Margin
.p-margin {
  margin: $spacing-unit  * 4;
}

// Small Margin
@media (min-width: $breakpoint-small) {
  .p-margin {
    margin: $spacing-unit  * 4;
  }
}

// Medium Margin
@media (min-width: $breakpoint-medium) {
  .p-margin {
    margin: $spacing-unit  * 8;
  }
}

// Large Margin
@media (min-width: $breakpoint-large) {
  .p-margin {
    margin: $spacing-unit  * 12;
  }
}
