.feature-text-1 {
    font-size: 6rem;
    line-height: 1;
}
.feature-text-2 {
    font-size: 3rem;
    line-height: 1;
}
.header {
    font-size: 2rem;
}
.subheader {
    font-size: 1.5rem;
}
.info-font {
    color: $info-color;
    font-size: 1.2rem;
}