// Import stylesheets
@import './reset.scss';
@import './shared-variables';
@import './utilities/colors';
@import './utilities/buttons';
@import './components/not_found_page';
@import './utilities/typography';
@import './utilities/margins';

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  min-height: 100vh;
}